/* Logged In Home Screen Container */
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin-block-start: 10px;
}

.homeHeader {
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
}

.adminHeader {

}

.adminHeaderActive{

}

.adminHeaderInactive{

}

.adminContainer {
    border: black solid 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px
}

.notesContainer {
    border: black 2px solid;
    border-radius: 10px;
    margin-block: 10px;
    padding: 10px;
}

.newNoteButton {
    background-color: black;
    border: black solid 0px;
    border-radius: 50%;
    padding: 10px;
    margin-inline: 5px;

}

/* Container to hold users */
.userMapContainer {
    display: flex;
    flex-direction: column;
    margin-block: 10px;
}

/* Individual user map */
.userContentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    margin: 5px;
    padding-inline: 10px;
  }

  .notebarContainer {
    background-color: black;
    border-radius: 10px;
    margin-block: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .notebarLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .notebarContainer p {
    color: beige;
    font-weight: 400;
    padding-inline-start: 4px;
  }


  .notebarDivider {
    height: 40px;
    width: 1px;
    border-radius: 10px;
    background-color: beige;
    margin-inline: 5px;
  }

  .noteInput {
    background-color: black;
    border: 0px;
    text-decoration-color: beige;
    color: beige;
    font-size: medium;
  }