/* App Container */
.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background-color: beige;
}

.inputContainer {
  padding-block: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.formAlignment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* align-items: center; */
}

.label {
  font-size: 1.25rem;
  padding-right: 10px;
  font-weight: 300;
}

.input {
  font-size: 1.25rem;
  background-color: lightgrey;
  border: 1px black solid;
  border-radius: 6px;
}

.submitButton {
  font-size: 1.25rem;
  margin-block: 5px;
  margin-inline: 20%;
  border-radius: 10px;
  background-color: black;
  color: beige;
  transition: ease-in-out 0.5s
}

.submitButton:hover{
  scale: 1.2;
  cursor: pointer;
}



