.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline-end: 10vw;
}

.titleText {
    font-weight: 350;
    font-size: 2.5rem;
}

.headerText {
    margin-block-end: 7px;
    font-size: 1.25rem;
    font-weight: 300;
}

.headerList {
    margin-block-start: 0px;
    margin-block-end: 2rem;
}
